---
layout: page
title: AWS Certifications and More
permalink: /
---
<div class="home" id="Cloud">

  <p>Our goal is to help you master the cloud with <b>hands-on, practical videos, articles and training courses</b>.</p>

  <h2 id="aws-certification---download-25-cheat-sheets-and-a-free-course">Download 25 Cheat Sheets and a Free Course</h2>

  <ul>
    <li><a href="https://links.in28minutes.com/cloud-in28minutes-teachable-free-link" target="_blank">AWS Certified Solutions Architect Associate - Getting Started</a></li>
  </ul>

  <h2>Our Amazing Courses</h2>
  <p><a href="https://links.in28minutes.com/aws-architect-associate-certification"><img src="https://www.springboottutorial.com/images/Course-aws-architect-associate-certification.png" alt="Image" title="AWS Architect Associate Certification"></a></p>

  <h2>Getting Started with AWS</h2>
  <ul>
    {% for page in site.pages %}
    {% for tag in page.tags %}
    <li><a href="{{ page.permalink | prepend: site.baseurl }}">{{page.title | replace: "- AWS Certification", "" }}
    </a></li>
    {% endfor %}
    {% endfor %}
  </ul>

  {% capture tags %}
    {% for tag in site.categories %}
      {{ tag[0] }}
    {% endfor %}
  {% endcapture %}

  {% assign sortedtags = tags | split:' ' | sort | reverse %}
  {% for tag in sortedtags %}
    
    <h2>{{ tag }}</h2>
    <ul>
    {% for post in site.categories[tag] %}
      <li><a href="{{ post.url | prepend: site.baseurl }}" class="post-link">{{ post.title | replace: "- AWS Certification", "" }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}

</div>