<div>
	<h2 id="free-videos---get-started-with-aws-certification">Free Videos - Get Started with AWS Certification</h2>

	<ul>
	  <li><a href="https://links.in28minutes.com/cloud-in28minutes-top-link-videos" target="_blank">AWS Certified Solutions Architect Associate - Video Playlist</a></li>
	</ul>

	<h2 id="complete-course---aws-certified-solutions-architect-associate">Amazing AWS Certification Courses</h2>

	<p>Get our amazing courses pursued by thousands of learners</p>

	<p><a href="https://links.in28minutes.com/aws-architect-associate-certification"><img src="https://www.springboottutorial.com/images/Course-aws-architect-associate-certification.png" alt="Image" title="AWS Architect Associate Certification"></a></p>

	<p><a target='_blank' href="https://links.in28minutes.com/aws-cloud-prac-sbt" ><img src="https://www.springboottutorial.com/images/Course-aws-certified-developer-assoiciate.png" alt="Image" title="AWS Developer Associate Certification"></a></p>

	<p><a target='_blank' href="https://links.in28minutes.com/aws-dev-associate-sbt" ><img src="https://www.springboottutorial.com/images/Course-aws-certified-cloud-practitioner.png" alt="Image" title="AWS Cloud Practitioner Certification"></a></p>

</div>