<div>
	<h2 id="free-videos---get-started-with-aws-certification">Free Videos - Get Started with AWS Certification</h2>

	<ul>
	  <li><a href="https://links.in28minutes.com/cloud-in28minutes-top-link-videos" target="_blank">AWS Certified Solutions Architect Associate - Video Playlist</a></li>
	</ul>

	<h2 id="complete-course---aws-certified-solutions-architect-associate">Complete Course - AWS Certified Solutions Architect Associate</h2>

	<p>Get our amazing course pursued by thousands of learners</p>

	<ul>
	  <li>400+ Lectures</li>
	  <li>28 hours on-demand video</li>
	  <li>18 articles</li>
	  <li>2 downloadable resources</li>
	  <li>Full lifetime access</li>
	</ul>

	<p><a href="https://links.in28minutes.com/aws-architect-associate-certification"><img src="https://www.springboottutorial.com/images/Course-aws-architect-associate-certification.png" alt="Image" title="AWS Architect Associate Certification"></a></p>
</div>